html, body {
    margin: 0;        
  }
input[type="text"]{
    width: 90%;
    border:none;
    background:white;
    border-bottom: 1px solid white;
    border-radius: 25px;
}

input[type="password"]{
    width: 90%;
    border:none;
    background:white;
    border-bottom: 1px solid white;
    border-radius: 25px;
}

input[type="date"]{
    width: 90%;
    border:none;
    background:white;
    border-bottom: 1px solid white;
    border-radius: 25px;
}
input[type="email"]{
    width: 90%;
    border:none;
    background:white;
    border-bottom: 1px solid white;
    border-radius: 25px;
}
input[type="text"]:focus{
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgb(247, 108, 247);
    border: 3px solid rgba(247, 108, 247);
    border-radius: 25px;
}
input[type="password"]:focus{
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgb(247, 108, 247);
    border: 3px solid rgba(247, 108, 247);
    border-radius: 25px;
}
input[type="email"]:focus{
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgb(247, 108, 247);
    border: 3px solid rgba(247, 108, 247);
    border-radius: 25px;
}
input[type="date"]:focus{
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgb(247, 108, 247);
    border: 3px solid rgba(247, 108, 247);
    border-radius: 25px;
}
a{
    color:black;
}

::placeholder{
    color:black;
}